[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = just for test
[access "refs/*"]
	owner = group user/Daniel Moskovich (NeteeraDMoskovich)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Daniel Moskovich (NeteeraDMoskovich)
	label-Verified = -1..+1 group user/Daniel Moskovich (NeteeraDMoskovich)
	push = group user/Daniel Moskovich (NeteeraDMoskovich)
	read = group user/Daniel Moskovich (NeteeraDMoskovich)
	rebase = group user/Daniel Moskovich (NeteeraDMoskovich)
	removeReviewer = group user/Daniel Moskovich (NeteeraDMoskovich)
	submit = group user/Daniel Moskovich (NeteeraDMoskovich)
[access "refs/heads/*"]
	create = group user/Daniel Moskovich (NeteeraDMoskovich)
	push = +force group user/Daniel Moskovich (NeteeraDMoskovich)
	pushMerge = group user/Daniel Moskovich (NeteeraDMoskovich)
	read = group user/Daniel Moskovich (NeteeraDMoskovich)
[access "refs/tags/*"]
	push = group user/Daniel Moskovich (NeteeraDMoskovich)
	push = +force group user/Daniel Moskovich (NeteeraDMoskovich)
